{% url 'home' as home_url %}
{% url 'products:list' as product_url %}
{% url 'cart:home' as cart_url %}
{% url 'contact' as contact_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container">
  <a class="navbar-brand" href="{% url 'home' %}">{% if brand_name %}{{ brand_name }}{% else %}eCommerrrce{% endif %}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.path == home_url %}active{% endif %}">
        <a class="nav-link" href="{{ home_url }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.path == contact_url %}active{% endif %}">
        <a class="nav-link" href="{{ contact_url }}">Contact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Login and Register
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if request.user.is_authenticated %}
          <a class="dropdown-item" href="{{ logout_url }}">Logout</a>
          {% else %}
            <a class="dropdown-item" href="{% url 'login' %}">Login</a>
          <a class="dropdown-item" href="{% url 'register' %}">Register</a>
            {% endif %}
      </li>
      <li class="nav-item {% if request.path == product_url %}active{% endif %}">
        <a class="nav-link" href="{{ product_url }}">Products</a>
      </li>
      <li class="nav-item {% if request.path == cart_url %}active{% endif %}">
        <a class="nav-link" href="{{ cart_url }}"><i class="fab fa-opencart"></i> ({{ request.session.cart_items }})</a>
      </li>
    </ul>
    {% include 'search/snippets/search-form.html' %}
  </div>
</div>
</nav>
